@font-face {
  font-family: 'franchise';
  src: url('fonts/franchise.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'robotoslab';
  src: url('fonts/robotoSlab.ttf');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: robotoslab;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu_box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 100px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,221,214,1) 0%, rgba(51,102,255,1) 90% );
  background-color: #ffffffed;
  padding: 3%;
  opacity: 0.98;
  border-radius: 25px;
}

.heading{
  font-family: franchise;
  font-size: 60px !important;
}

.navbar{
  box-shadow: inset 0px -2px 2px 2px #08080845;
}

h1{
  text-transform: uppercase;
  color: white;
  font-size: 42px;
}

.inst_image{
  width: 200px;
  display: block;
  margin: auto;
  opacity: 0.7;
}

.inst_text span{
  font-size: xx-large;
  font-family: 'franchise';
  background: white;
  padding: 3px;
  border-radius: 2px;
}

.inst_head{
  text-align: center;
  font-size: 24px !important;
  color: #2c2c2c;
  text-transform: uppercase;
}

h3{
  text-align: center;
  font-family: 'franchise';
  color: #ffffffa8;
  font-size: 32px;
}

.titles{
  text-align: center;
  width: 100%;
  max-width: 100% !important;
  font-size: 18px !important;
  color: white;
  line-height: 10px !important;
}

.ens_cards{
  margin: 0 5px;
  height: 300px !important;
  padding: 10px;
}

.ens_cards .header b{
  overflow: auto;
  white-space: pre-wrap;
  width: 100%;
}

.ens_cards .header{
  padding-left: 5px;
  padding-right: 5px;
}

.input_box{
  border-bottom: 1px solid rgba(0,0,0,0.33) !important;
  border: unset !important;
  background: #fafafa7d !important;
  margin: 5px 0 !important;
}

.tes ::placeholder{
  color: red !important;
  opacity: 1 !important;
}

.selected{
  word-break: break-word;
  background: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.selected span{
  background: #23222330;
  padding: 4px;
  border-radius: 5px;
  display: block;
}
